body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}
.center {
  text-align: center;
}
.navbar {
  background-color: #62d8ff;
}
.navbar-brand {
  padding-right: 2%;
}
.logo {
  height: 100px;
}
.anuncios {
  width: 100%;
  padding: 1%;
}
#recentes {
  font-size: 20px;
}
.nav-item {
  font-size: 20px;
  text-align: center;
}
.active {
  font-weight: bold;
}
.posts {
  width: 85%;
}
.pp {
  width: 100%;
}
.container-flex {
  display: flex;
  flex-wrap: wrap;
}
.container {
  position: relative;
}
.sidebar {
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 100%;
}
.footer {
  background-color: #62d8ff;
  position: absolute;
  width: 100%;
  text-align: center;
}
.rodape {
  margin: 1%;
}
.content {
  display: flex;
  flex-wrap: wrap;
  background-color: #c5c5c5;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.item {
  width: 50%;
}
.cinza {
  background-color: #c5c5c5;
}
@media (max-width: 355px) {
  .logo {
    height: 70px;
  }
}
@media (min-width: 992px) and (max-width: 1111px) {
  .nav-item {
    font-size: 14px;
    text-align: center;
  }
  .logo {
    height: 70px;
  }
}
@media (max-width: 767px) {
  .item {
    width: 100%;
  }
  .content {
    font-size: 15px;
  }
  h3 {
    font-size: 25px;
  }
  .posts {
    width: 50%;
  }
  .pp {
    width: 70%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h6 {
    font-size: 12px;
  }
}
